html
  head
    title Title
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.5.1/spectre.min.css')
    style.
      body {
      background: #e7e9ed;
      font-size: 16pt;
      color: #454d5d;
      padding-left: 1em;
      }
  body
    p Update your record
    form(action='/update/'+articles1._id, method='put')
    
      input(type='text', placeholder='Title', name='title', value=articles1.title)
      br
      input(type='text', placeholder='Author', name='author', value=articles1.author)
      br
      input(type='text', placeholder='Body', name='body', value=articles1.body)
      br
      button(type='submit') Submit
